/* menu */
.row{
	margin-right: 0px;
}
.navbar-inverse{
	margin-top: 0.5%;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	color: #8c8c8c;
	width: 100%;
}	
#letters-pratt{
	padding-left: 5%;
}
#letters-pratt1{
	padding-right: 5%;
}